c_code/abc_data/abc_10k_01_samples.csv
c_code/abc_data/abc_10k_02_samples.csv
c_code/abc_data/abc_10k_03_samples.csv
c_code/abc_data/abc_10k_05_samples.csv
c_code/abc_data/abc_10k_20_samples.csv
c_code/abc_data/abc_10k_02003_01_samples.csv
c_code/abc_data/abc_10k_02003_02_samples.csv
c_code/abc_data/abc_10k_02003_03_samples.csv
c_code/abc_data/abc_10k_02003_05_samples.csv
c_code/abc_data/abc_10k_02003_20_samples.csv
c_code/abc_smc_data/particles_gen_0.csv
c_code/abc_smc_data/particles_gen_1.csv
c_code/abc_smc_data/particles_gen_3.csv
c_code/abc_smc_data/particles_gen_2.csv
c_code/abc_smc_data/particles_gen_4.csv
c_code/abc_smc_data/particles_gen_5.csv
c_code/abc_smc_data/particles_gen_6.csv
c_code/abc_smc_data/particles_gen_7.csv
c_code/abc_smc_data/particles_gen_8.csv
c_code/abc_smc_data/particles_gen_9.csv
c_code/abc_smc_data/particles_gen_10.csv
py_code/abc_smc_data/accepted_params_gen_*.csv
c_code/abc_smc_data/accepted_params_gen_*.csv
c_code/abc_smc_data/10k_0.1_0.01/*
c_code/abc_smc_data/10k_0.2_0.03/*
py_code/abc_smc_data/10k_0.1_0.01/*
py_code/abc_smc_data/10k_0.2_0.03/*
